{{ $cat := .Scratch.Get "links-cat" }}
{{ $cnt := 15 }}
{{ if (eq $cat "original") }}
    {{ $cnt = 5 }}
{{ end }}
{{ range first $cnt (where .Site.RegularPages "Params.categories" "intersect" (slice ($cat))) }}
<article>
    <h3 class="flex items-center mt-6 text-xl font-semibold">
        <a
        class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
        href="{{ .RelPermalink }}"
        >{{ .Title | emojify }}</a>
        {{ if and .Draft .Site.Params.article.showDraftLabel }}
            <div class=" ltr:ml-2 rtl:mr-2">
                {{ partial "badge.html" (i18n "article.draft" | emojify) }}
            </div>
        {{ end }}
    </h3>
    <div class="text-sm text-neutral-500 dark:text-neutral-400">
        {{ partial "article-meta.html" . }}
    </div>
    {{ if (eq $cat "original") }}
    <div class="py-1 prose dark:prose-invert">
        {{ .Summary | emojify }}
    </div>
    {{ end }}
</article>
{{ end }}