{{ $paginator := .Paginator }}

{{ $adjacent_links := 2 }}

{{ $lower_gap := add $adjacent_links 3 }}

{{ $upper_gap := sub $paginator.TotalPages (add $adjacent_links 2) }}

{{ $lower :=  (sub $paginator.PageNumber $adjacent_links) }}

{{ $upper :=  (add $paginator.PageNumber $adjacent_links) }}

{{ $min_links := (add (mul $adjacent_links 2) 3) }}

{{ if gt $paginator.TotalPages 1 }}
  <ul class="flex flex-row mt-8">
    {{ if $paginator.HasPrev }}
      <li>
        <a
          href="{{ $paginator.Prev.URL }}"
          class="mx-1 block min-w-[1.8rem] rounded text-center hover:bg-primary-600 hover:text-neutral"
          rel="prev"
        >
          &larr;
        </a>
      </li>
    {{ end }}

    {{ range $paginator.Pagers }}

      {{ if gt $paginator.TotalPages $min_links }}

        {{ $.Scratch.Set "page_number_flag" false }}

        {{ if eq .PageNumber 1 }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

        {{ if eq .PageNumber 2 }}
          {{ if gt $paginator.PageNumber $lower_gap }}
            <li>
                <span class="mx-1 block min-w-[1.8rem] rounded text-center hover:bg-primary-600 hover:text-neutral">
                ...
                </a>
            </li>
          {{ else if eq $paginator.PageNumber $lower_gap }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}
        {{ end }}

        {{ if and (ge .PageNumber $lower) (le .PageNumber $upper) }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

        {{ if eq .PageNumber (sub $paginator.TotalPages 1) }}
          {{ if lt $paginator.PageNumber $upper_gap }}
            <li>
                <span class="mx-1 block min-w-[1.8rem] rounded text-center hover:bg-primary-600 hover:text-neutral">
                ...
                </a>
            </li>
          {{ else if eq $paginator.PageNumber $upper_gap }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}
        {{ end }}

        {{ if eq .PageNumber $paginator.TotalPages }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li>
            <a
            href="{{ .URL }}"
            class="{{ if eq . $paginator }}
                bg-primary-200 dark:bg-primary-400 dark:text-neutral-800
            {{ end }} mx-1 block min-w-[1.8rem] rounded text-center hover:bg-primary-600 hover:text-neutral"
            >
            {{ .PageNumber }}
            </a>
        </li>
      {{ end }}

    {{ end }}

    {{ if $paginator.HasNext }}
      <li>
        <a
          href="{{ $paginator.Next.URL }}"
          class="mx-1 block min-w-[1.8rem] rounded text-center hover:bg-primary-600 hover:text-neutral"
          rel="next"
        >
          &rarr;
        </a>
      </li>
    {{ end }}

  </ul>
{{ end }}